@font-face {
    font-family: 'firestarterregular';
    src: url('fonts/firestarter-webfont.woff2') format('woff2'),
         url('fonts/firestarter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* .vents {
    fill: #e25822;
}

.top-grill {
    transition: all ease .5s;
    z-index: 1;
}

.entire-grill {
    padding-top: 2rem;
    width: fit-content;
    margin: 0 auto;
    transform: scale(1.3);
}

.grill-top2 {
    position: absolute;
    width: fit-content;
    z-index: 1;
    cursor: pointer;
    margin: 0 auto;
    height: auto;
}

.grill-top2 h3 {
    position: absolute;
    top: 5.25rem;
    left: 7.25rem;
    font-family: 'firestarterregular';
    color: red;
    z-index: 0;
    font-size: 1.5rem;
}

.grill-top2:hover > .top-grill {
    transform: rotate(-.15turn) translate(-5%, -70%);
}

.grill-top2:hover > h3 {
    color: #411500;
    transform: scale(1.1);
}

.grill-top2:hover .vents {
    fill: black;
}

.grill-bottom2 {
    position: relative;
    width: fit-content;
    z-index: 0;
    cursor: pointer;
    height: auto;
}

.grill-bottom2 h3 {
    position: absolute;
    top: 12rem;
    left: 7rem;
    font-family: 'firestarterregular';
    color: red;
    z-index: 0;
    font-size: 1.5rem;
}

.price-tag {
    fill: red;
}

.grill-bottom2:hover .price-tag {
    fill: #e25822;
}

.grill-bottom2:hover h3 {
    color: #e25822;
    transform: scale(1.1);
} */








.grill {
    height: 30rem;
    width: 30rem;
}

#svg-object {
    transition: all ease .5s;
    z-index: 1;
}

.grill-top:hover #svg-object {
    transform: rotate(-.15turn) translate(-5%, -70%);
}

.grill-top:hover > h3 {
    color: #411500;
    transform: scale(1.1);
}

.grill-top {
    position: absolute;
    width: fit-content;
    z-index: 1;
    cursor: pointer;
}

.grill-top h3 {
    position: absolute;
    top: 5.25rem;
    left: 7.25rem;
    font-family: 'firestarterregular';
    color: red;
    z-index: 0;
    font-size: 1.5rem;
}

.grill-bottom {
    position: relative;
    width: fit-content;
    z-index: 0;
    cursor: pointer;
}

.grill-bottom h3 {
    position: absolute;
    top: 12rem;
    left: 7rem;
    font-family: 'firestarterregular';
    color: red;
    z-index: 0;
    font-size: 1.5rem;
}

.grill-bottom:hover h3 {
    color: #e25822;
    transform: scale(1.1);
}